$breakpoints: (   mobile-min: 0px,
            mobile-max: 425px,
            tablet-min: 426px,
            tablet-max: 768px,
            laptop-min: 769px,
            laptop-max: 1440px,
            pc-min: 1441px,
            pc: 1441px,
            pc-max: 1441px
        );