.container {
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
}


@mixin grid-sizes($padding) {
    $prefixes: '' tablet- laptop- pc-;

    @each $prefix in $prefixes {

        @for $i from 1 through 12 {
            $width: 100% / (12 / $i);

            @if($prefix == "") {
                .grid__cell--#{$i} {
                    width: calc(#{$width} - #{$padding}px * 2);
                }

                .grid__cell--offset-#{$i} {
                    margin-left: calc(#{$width} - #{$padding}px * 2);
                }
            }
            @else {
                @include responsive(#{$prefix}up) {
                    .grid__cell--#{$prefix}#{$i} {
                        width: calc(#{$width} - #{$padding}px * 2);
                    }

                    .grid__cell--#{$prefix}offset-#{$i} {
                        margin-left: calc(#{$width} - #{$padding}px * 2);
                    }
                }
            }
        }
    }
}

.grid {
    display: flex;
    flex-flow: row wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.grid__cell {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

@include grid-sizes(4);

$paddings: 8 12 20;

@each $padding in $paddings {
    $padding-name: $padding * 2;

    .grid--gutter-#{$padding-name} {
        margin-left: -#{$padding}px;
        margin-right: -#{$padding}px;

        .grid__cell {
            margin-left: #{$padding}px;
            margin-right: #{$padding}px;
            width: calc(100% - #{$padding}px * 2);
        }

        @include grid-sizes($padding);
    }
}

.grid--center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.grid--space-around {
    justify-content: space-around;
}

.grid--space-between {
    justify-content: space-between;
}

.grid--align-right {
    justify-content: flex-end;
}


.grid__cell--middle-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.grid__cell--middle {
    display: flex;
    align-items: center;
}

.grid__cell--center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.grid__cell--top-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: flex-end;
}

.grid__cell--middle-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
}

.grid__cell--bottom {
    display: flex;
    align-items: flex-end;
}

.grid__cell--bottom-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
}

.grid__cell--bottom-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
}

.grid__cell--push {
    margin-right: 4px;
    margin-left: auto;
}



.grid__row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}


$prefixes: mobile tablet laptop pc;

@each $prefix in $prefixes {
    @include responsive($prefix) {
        .grid__row--#{$prefix}-column-reverse {
            flex-direction: column-reverse;
        }

        .grid__row--#{$prefix}-row-reverse {
            flex-direction: row-reverse;
        }
    }
}
