@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #fff;
    color: #414141;
}

.panel-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-panel {
    width: 15%;
    background: #fff;
    color: #fff;
    padding: 50px 0 50px 15px;
    color: #414141;
    border-right: solid 1px #dbdbdb;
    overflow-y: auto;

}

.right-panel {
    width: 85%;
    max-width: 85%;
    resize: horizontal;
    overflow: auto;
}

.left-panel ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    list-style-type: none;
    margin-left: 0;
}

ul li a {
    padding: 5px 15px;
    display: block;
    text-decoration: none;
    color: #414141;
}

code {
    display: block;
}

pre {
    &:before {
        display: block;
        content: 'Show code';
        font-size: 0.75rem;
        cursor: pointer;
        color: #3977de;
    }

    &:hover:before {
        text-decoration: underline;
    }

    code.hljs {
        display: none;
    }

    &.show {

        &:before {
            content: 'Hide code';
        }
    }
}

code {
    margin-bottom: 0 !important;
    border: solid 1px lightgrey !important;
}

iframe {
    width: 100%;
    height: calc(100% - 67px);
    overflow-y: scroll;
    border: none;
}

.responsive-buttons {
    background: #215a97;
    padding: 5px 40px;
}

.responsive-buttons a {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
}

.titlebar {
    position: relative;
    background: #2b6da9;
    color: #fff;
    padding: 1rem 0 1rem 1.5rem;
    z-index: 3;

    .text-subheading-1 {
        margin: 0;
        color: #fff;
    }
}

content {
    height: calc(100% - 146px);
    overflow-y: scroll;
    display: block;
    padding: 4rem 3rem 4rem 3rem;
    box-sizing: border-box;

    @media screen and (max-width: 425px) {
        padding: 4rem 1.5rem 4rem 1.5rem;
    }
}

.shadow-preview {
    width: calc(33.33333% - 20px);
    border-radius: 5px;
    margin: 20px 10px 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    min-width: 250px;
    flex-grow: 1;
    background: #fff;

    &:empty {
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

.class, .sass, .explainer {
    border-left: solid 0.15rem #b57d4e;
    padding-left: 10px;
    margin: 2px 0;
}

.sass {
    border-left-color: #c58d5e;
}

.explainer {
    border-left-color: #afafaf;
    color: #878787;
}

.class--filled, .sass--filled, .attr--filled, .js--filled {
    border: none;
    background: #ffeddd;
    //color: #fff;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
}

.js--filled {
    background: #ffd6b4;
}

.sass--filled {
    background: #f6e2d1;
}

.attr--filled {
    background: #dbc9ba;
}

.grid--preview-colored {
    background: #f5f5f5;
}

.grid-preview .grid__cell {
    background: #ececec;
    height: 125px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.grid-preview .grid__cell:not(.grid__cell--no-preview) {
    justify-content: center;
    align-items: center;
    display: flex;
}

.typography-preview .info {
    width: 50%;
    margin: 10px 0;
}

@media screen and (max-width: 425px) {
    .typography-preview .info {
        width: 100%;
        margin: 40px 0 10px 0;
    }
}

a {
    color: #43859b;
}

.grid__cell .info.text-caption {
    margin: 0;
}

img {
    max-width: 100%;
}

.text-subheading-1, .text-subheading-2 {
    + pre {
        margin-top: 0.25rem;
    }
}

pre {
    margin-bottom: 0.5rem !important;
}

.text-subheading-1 {
    color: #9099a2;
}

.text-title {
    color: #2b6da9;
}

.text-previews {
    .text-title, .text-subheading-1 {
        color: #414141;
    }
}

.index {
    margin: 0;
    padding: 0 1rem;
    border-left: solid 0.2rem #cf5260;

    a {
        color: #cf5260;
    }

    .text-caption {
        margin: 0;
    }
}



.plugin-option {
    padding: 0.5em;
    background: #F0F0F0;
    color: #444;
    margin-bottom: 1rem;
}

.plugin-option__option {
    border-left: solid 0.15rem #dd7f31;
    padding-left: 10px;
    margin: 2px 0;
    font-weight: 600;
}

.app-bar {
    position: relative !important;
    margin: 2rem 0;
}
